
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: black;
}

.bg-dark {
  background:transparent !important;
  transition:0.75s ease;
}
.bg-dark.scrolled {
  background:#000 !important;
}

.dropdown-menu{
  background-color: black;
  margin-top: 0;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-item{
  padding-left: 10px;
  padding-bottom: 5px;
  color:white;
}

.jumbotron{
  margin:0px;
  padding:0px; 
  height:500px; 
  margin-bottom:20px;
  background: transparent;
  background: linear-gradient(0deg, #000000 -40.85%, rgba(0, 0, 0, 0) 100%), url('../public/imgs/KidsMainImage.png'); 
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;

}

.card-slider{
  width: 500px;
  height: 500px;
  margin-right: 40px;
}

footer {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
  background-color: black;
}

.footer-icons-text{
  color:rgba(256, 256, 256, 0.51);
  font-size: 9px;
  margin-top: 4px;
}

.footer-active{
  color:rgba(256, 256, 256, 1);
  fill:rgba(256, 256, 256, 1);
}

